fastuga-backend/application/node_modules
fastuga-backend/application/public/hot
fastuga-backend/application/public/storage
fastuga-backend/application/storage/*.key
fastuga-backend/application/vendor
fastuga-backend/application/
fastuga-backend/application/.env
fastuga-backend/application/.env.example
fastuga-backend/application/.git
fastuga-backend/application/.gitattributes
fastuga-backend/application/.github
fastuga-backend/application/.gitignore
fastuga-backend/application/docker-compose.yml
fastuga-backend/application/Dockerfile
fastuga-backend/application/.editorconfig
fastuga-backend/application/.env.testing
fastuga-backend/application/phpunit.xml
fastuga-backend/application/tests
fastuga-backend/application/
fastuga-backend/application/Homestead.json
fastuga-backend/application/Homestead.yaml
fastuga-backend/application/Vagrantfile
fastuga-backend/application/npm-debug.log
fastuga-backend/application/yarn-error.log
fastuga-backend/application/
fastuga-backend/application/# Laravel specific
fastuga-backend/application/bootstrap/cache/*
fastuga-backend/application/storage/app/*
fastuga-backend/application/storage/framework/*
fastuga-backend/application/storage/logs/*
fastuga-backend/application/!storage/framework/views
fastuga-backend/application/!storage/framework/sessions
fastuga-backend/application/!storage/framework/cache
fastuga-backend/application/
fastuga-backend/application/# Ignore configuration files that may contain sensitive information
fastuga-backend/application/.env*
fastuga-backend/application/*.sublime-project
fastuga-backend/application/*.sublime-workspace
fastuga-backend/application/.idea
fastuga-backend/application/*.swp
fastuga-backend/application/*.swo
fastuga-backend/application/*.DS_Store
fastuga-backend/application/._*
fastuga-backend/application/Thumbs.db