##BACKEND
APP_NAME=Laravel
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306

DB_DATABASE=laravel
DB_USERNAME=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=root


##FRONTEND
NODE_ENV=production
VITE_API_DOMAIN=http://localhost
VITE_WS_CONNECTION=http://localhost